body {
    background: rgb(255, 127, 17);
    color: #FDF0D5; 
    font-family: Georgia, sans-serif;
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    font-weight: bold;
    z-index: 1;
}

.add-image {
    margin-left: 10px;
    cursor: pointer;
    font-size: 18px;
    color: #A04000;
    background: none;
    border: none;
    position: relative;
}

.add-image:hover::after {
    content: "Scan your ingredients";
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F5CBA7;
    color: #A04000;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}

.linkToInformation {
    margin-top: 20px;
}

/* Ingredient & Appliances Group Box  */
.ingredient-group, .appliance-group {
    background: rgba(255, 255, 255, 0.2); 
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    padding: 15px;
    margin: auto;
    margin-top: 10px;
    margin-bottom:10px;
    width: auto;
    max-width: 90%;
    height: auto;
    backdrop-filter: blur(5px); 
    text-align: center;
}

/* Ingredient & Appliance Grid */
.ingredient-container, .appliance-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

/* Ingredient & Appliance Box */
.ingredient, .appliance {
    background-color: #FDF0D5;;
    color: #333;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, color 0.3s;
    border: 1.5px solid rgba(255, 255, 255, 0.4);
}


.ingredient:hover, .appliance:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.ingredient.selected, .appliance.selected {
    background-color: rgba(139, 195, 74, 0.8); /* Green with slight transparency */
    color: white;
    font-weight: bold;
}
.generate-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

/* Submit Button */
.submit-btn{
    background-color: #FDF0D5;
    color: #443742;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    justify-content: center;
    margin: 10px;
    width: fit-content;
}

.submit-btn:hover{
    box-shadow: 0px 0px 30px rgba(255, 0, 0, 50);
    background-color: rgb(210, 43, 43);
    font-weight: bold;
}
.hidden{
    display: none;
    justify-content: center;
}
/* Hidden by Default */
.hidden-checkbox{
    display: none;
}

