*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  width: 100%;
  padding: 5px 25px;
  backdrop-filter: blur(100px);
  display: flex;
  align-items: center;
  z-index: 100;  
}

.chefAI img{
    margin-top: 10px;
    width: 200px;
    height: 200px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    margin-top: 100px;
    text-align: center;
}

.content h1{
    font-size: 160px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 20px;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
}

.back-video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content a:hover {
    background-color: rgba(255,255,255,0.2);
}

.search-section {
    display: none;
    margin-top: 200px;
    padding: 0 50px;
    color: white;
}


.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

#searchInput {
    width: 500px;
    padding: 8px 12px;
    font-size: 14px;
    border: 2px solid transparent;
    background-color: rgba(255,255,255,0.2);
    color: white;
    outline: none;
    border-radius: 5px;
}

#searchInput::placeholder{
    color: #fff;
    font-size: 14px;
}

#searchInput:focus{
    border: 2px solid white;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.category {
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 20px;
}

.category h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    padding-bottom: 10px;
}

.category-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.category-item input[type="checkbox"] {
    margin-right: 10px;
    accent-color: #10B981;
}

.category-item label {
    flex-grow: 1;
    color: white;
}

#chefItUpBtn {
    transition: all 0.5s ease;
}


.selected-items-container {
    flex: 0 0 auto;
    width: 300px;
    min-width: 250px;
    max-height: 350px;
    overflow-y: auto;
    display: none; 
    background-color: rgba(255,255,255,0.1); 
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.2);
    text-align: center;
}
.selected-items-container h2 {
    margin-bottom: 15px;
    border-bottom: 2px solid rgba(255,255,255,0.2);
    padding-bottom: 10px;
    color: white;
}

.selected-items {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.selected-items-container::-webkit-scrollbar{
    width: 6px;
}

.selected-items-container::-webkit-scrollbar-track{
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
}

.selected-items-container::-webkit-scrollbar-thumb {
    background: #ffcc00;
    border-radius: 10px;
}

.selected-item {
    min-width: 120px;
    max-width: 120px;
    background: #ffcc00;
    padding: 5px 8px;
    border-radius: 8px;
    font-size: 14px;
    max-width: 100%; 
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remove-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: red;
    display: flex;
    margin-right: 1px;

}

.remove-btn:hover{
    color: #e60000;
}

.selected-item .quantity-container {
    display: flex;
    align-items: center;
    gap: 3px;
}

.quantity-container input[type="text"] {
    width: 25px;
    padding: 2px;
    margin-left: 2px;
    font-size: 10px;
    border-radius: 2px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
}


.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 10px;
    scroll-behavior: smooth;
}


.slider::-webkit-scrollbar{
    height: 6px;
}

.slider::-webkit-scrollbar-track{
    background:rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.slider::-webkit-scrollbar-thumb {
    background: #ffcc00;
    border-radius: 10px;
}

.slider .categories {
    display: flex;
    gap: 20px; /* Adjust gap between categories */
}

.categories {
    display: flex; 
    gap: 20px;
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.category, .selected-items-container {
    flex: 0 0 auto; 
    width: 300px; 
    min-width: 250px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 20px;
    border: 2px solid rgba(255,255,255,0.2);
    text-align: center;
}

.generate-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
    margin-bottom: auto;
    text-align: center;
}

.submit-btn{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    background-color: transparent;
}

.submit-btn:hover{
    background-color: rgba(255,255,255,0.2);
}

#generateRecipeBtn {
    background-color: #ff9800;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    white-space: nowrap;
}

#generateRecipeBtn:hover{
    background-color: #e68900;
}

.loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99; 
}

.loading-screen video {
    width: 100vw;
    height: 100vh;
    object-fit:cover;
}

.loading-text {
    position: absolute;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}



@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}


@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

@media (max-width: 768px) {
    .categories {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .slider {
        overflow-x: hidden;
    }

    .categories {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .category, .selected-items-container {
        width: 90%;
        min-width: unset;
    }

    .header {
        height: 70px;
        padding: 5px 10px;
    }

    .chefAI img {
        width: 150px;
        height: 150px;
    }

    .generate-button {
        margin-top: 1px;
    }

    .submit-btn{
        font-size: 18px;
        padding: 10px 30px;
        border-radius: 30px;
    }
    
    .quantity-container input[type="text"] {
        width: 40px;
        font-size: 12px;
    }

}
