{% extends "base.html" %}

{% block content %}
<section class="container">
    <div class="login-container">
        <div class="form-container">
            <h1 class="opacity">LOGIN</h1>
            {% if form.errors %}
            <p style="color: red;">Invalid username or password.</p>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="opacity" type="submit">SUBMIT</button>
            </form>
            <div class="register-forget opacity">
                <a href="{% url 'register' %}">REGISTER</a>
                <a href="{% url 'password_reset' %}">FORGOT PASSWORD</a>
            </div>
        </div>
    </div>
    <div class="theme-btn-container"></div>
</section>
{% endblock %}
