{% extends "base.html" %}
{% block content %}

<div class="loginContainer">
    <div class="details">
        <h2>Login</h2>
        {% if form.errors %}
        <p style="color: red;">Invalid username or password.</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log in</button>
            <p>Not a member? <a href="{% url 'register' %}">Click here to sign up</a></p>
        </form>
    </div>
</div>
{% endblock %}