{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Chef AI{% endblock %}</title>

<link rel="icon" type="image/x-icon" href="{% static 'chef_ai/icons/favicon.ico' %}">
<link rel="stylesheet" href="{% static 'chef_ai/styles/style.css' %}">
<link rel="stylesheet" href="{% static 'chef_ai/styles/logon.css' %}">
<script type="module" src="{% static 'chef_ai/js/index.js' %}" defer></script>
</head>
<body>

  <header class="header">
    <div class="chefAI">
        <a href="{% url 'index' %}">
            <img src="{% static 'chef_ai/images/AICHEF400X.png' %}" alt="">
        </a>
    </div>
    <div class="navBar">
        <a href="{% url 'login' %}">Log In</a>
    </div>
</header>
<video autoplay loop muted plays-inline class="back-video">
    <source src="{% static 'chef_ai/videos/backgroundvid.mp4' %}" type="video/mp4">
</video>
{% block content %}
{% endblock %}
</body>
</html>


