{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Chef AI{% endblock %}</title>

    {% block background_Style %}
    <style>
        body{
            background-image: url('{% static 'chef_ai/images/Countertop.png' %}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
        }
        @media(min-width: 768px){
            body{
                height: 100vh;
            };
        }
    </style>
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{% static 'chef_ai/icons/favicon.ico' %}">

                        <!--CSS files go below-->
    <link rel="stylesheet" href="{% static 'chef_ai/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'chef_ai/styles/header.css' %}">
    <link rel="stylesheet" href="{% static 'chef_ai/styles/launchpage.css' %}">
    <link rel="stylesheet" href="{% static 'chef_ai/styles/logon.css' %}">
    <link rel="stylesheet" href="{% static 'chef_ai/styles/response.css' %}"> 
    <link rel="stylesheet" href="{% static 'chef_ai/styles/searchbar.css' %}">
    <link rel="stylesheet" href="{% static 'chef_ai/styles/ingredientItems.css' %}">
    <link rel="stylesheet" href="{% static 'chef_ai/styles/profile.css' %}">
    <link rel="stylesheet" href="{% static 'chef_ai/styles/landing.css' %}">
    <link rel="stylesheet" href="{% static 'chef_ai/styles/loading.css' %}">

    <link rel="stylesheet" href="{% static 'chef_ai/styles/footer.css' %}">


    <link rel="stylesheet" href="{% static 'chef_ai/styles/uploadedImages.css' %}">


                    <!--Javascript files go below-->
   <!-- <script type="module" src="{% static 'chef_ai/js/index.js' %}" defer></script> -->
    <script type="module" src="{% static 'chef_ai/js/logout.js' %}"></script>
    <script type="module" src="{% static 'chef_ai/js/navbar.js' %}"></script>
    <script type="module" src="{% static 'chef_ai/js/landing.js' %}"></script>

</head>
<!-- made inline styling because link wont work when web hosting otherwise.
 install Django Template Support to ignore red lines
  the image will be hidden by videos if they exist-->

<body> 
    <header class="header {% if request.path == '/' %}landing-header{% endif %}">
        <div class="chefAI" id='chefAI-logo'>
            <a href="{% url 'index' %}">
                <img src="{% static 'chef_ai/images/AICHEF400X.png' %}" alt="">
            </a>
        </div>
        <div class="navbar">
            {% if user.is_authenticated %}
            <div class="dropdown">
                <div class="userContainer">
                <img class="userLogo dropbtn" src="{% static 'chef_ai/images/defaultLogo.png' %}">
                <p>{{ request.user.username }}</p>
                </div>
                <div class="dropdown-content">
                    <ul>                     
                        <li><a href="{% url 'profile' %}">View Profile</a></li>
                        <li><a href="#" id="logoutBtn" 
                            data-logout-url="{% url 'logout' %}" 
                            data-csrf-token="{{ csrf_token }}">Logout</a></li>
                            <!-- data tags needed to make django templating work in js file -->
                        {% comment %} <li class="username">Logged in as: {{ request.user.username }}</li> {% endcomment %}
                    </ul>
                </div>
            </div>
            {% else %}
            <a class="loginButton" href="{% url 'login' %}">Log In</a>
            {% endif %}
        </div>
    </header>
    <!--plays the video on recipe page only-->
    {% if request.path == '/chefai/recipe/' %}
    
    {% endif %}

    <!--defaults to static image on other pages-->
    <div class="root">
    {% block content %}
    {% endblock %}
    </div>
    
    <script type="module" src="{% static 'chef_ai/js/index.js' %}"></script>  

    <footer class="site-footer">
        <div class="footer-content">
            <p>© 2025 ChefAI. All rights reserved.</p>
            <div class="social-icons">
                <a href="https://www.instagram.com/chef_ai25" target="_blank">
                    <img src="{% static 'chef_ai/social/instagram.png' %}" alt="Instagram">
                </a>
                <a href="https://x.com/ChefAI25" target="_blank">
                    <img src="{% static 'chef_ai/social/x.png' %}" alt="Twitter">
                </a>
                <a href="https://www.facebook.com/share/1AFxKqHtHY/?mibextid=wwXIfr" target="_blank">
                    <img src="{% static 'chef_ai/social/facebook.png' %}" alt="Facebook">
                </a>
            </div>
        </div>
    </footer>
    
</body>

</html>