{% extends 'base.html' %}
{% load static %}

{% block background_Style %}
    <style>
        body{
            background-image: url('{% static 'chef_ai/images/Countertop.png' %}');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100%;
        }
    </style>
{% endblock %}
<script>
    const STATIC_IMAGE = "{% static 'chef_ai/images/Countertop.png' %}";
</script>

{% block content %}
    <div class="content">
        <h1>Yum</h1>
        <a href="#" id="chefItUpBtn">Let's Chef it up!</a>
    </div>
    <div id="searchSection" style="display: none;">
        <div class="search-wrapper">
            <form method="POST" action="{% url 'index' %}">
                {% csrf_token %}
                    <input type="text" id="searchInput" autocomplete="off">
                    <div id="searchSuggestions" class="suggestion-box"></div> 
                    <div class="number_of_recipes">
                        <button id="increment_recipes" class="plus_button" type="button">+</button>
                        <input class="num_recipes_shown_input" id="recipe_amount" name="recipe_amount" value="1"></input>
                        <button id="decrement_recipes" class="minus_button" type="button">-</button>
                    </div>
                    <input type="hidden" id="final_ingredients" name="final_ingredients">
                    <button id="generateRecipeBtn" class="submit-btn" type="submit">Generate Recipe</button>
                </form>
                <div class="upload-container">
                    <label for="image-upload-input" class="upload-label">+</label>
                    <input type="file" id="image-upload-input" multiple accept="image/*" />
                    <button class="regular-button" id="scan-btn">Scan</button>
                </div>
        </div>
        
        <div class="slider">
            <div class="categories">
                <div class="selected-items-container" id="selectedItemsContainer" style="display: none;">
                    <h2>Selected Ingredients</h2>
                    <div class="selected-items" id="selectedItems"></div>
                </div>
                <div class="category" id="pantryEssentials">
                    <h2>Pantry Essentials</h2>
                    <div class="category-items"></div>
                </div>
                <div class="category" id="spices">
                    <h2>Spices</h2>
                    <div class="category-items"></div>
                </div>
                <div class="category" id="vegetablesGreens">
                    <h2>Vegetables</h2>
                    <div class="category-items"></div>
                </div>
            </div>
        </div>
    </div>
        
{% endblock %}
</body>
</html>