{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website with Background video</title>
    <link rel="stylesheet" href="{% static 'chef_ai/style.css' %}">
    <script type="module" src="{% static 'chef_ai/index.js' %}" defer></script>
</head>
<body>
    <header class="header">
        <div class="chefAI">
            <a href="{% url 'index' %}">
                <img src="{% static 'chef_ai/chef.png' %}" alt="">

            </a>
        </div>
    </header>

    <video autoplay loop muted plays-inline class="back-video">
        <source src="{% static 'chef_ai/backgroundvid.mp4' %}" type="video/mp4">
    </video>
    
    <div class="content">
        <h1>Yum</h1>
        <a href="#" id="chefItUpBtn">Let's Chef it up!</a>
    </div>

    <div class="search-section" id="searchSection">
        <div class="search-container">
            <form method="POST" action="{% url 'index' %}">
                {% csrf_token %}
                <div class="search-container">
                    <div class="search-wrapper">
                        <input type="text" id="searchInput" autocomplete="off">
                        <div id="searchSuggestions" class="suggestion-box"></div>
                    </div> 
                    <input type="hidden" id="final_ingredients" name="final_ingredients">
                    <button id="generateRecipeBtn" class="submit-btn" type="submit">Generate Recipe</button>
                </div>
            </form>
        </div>
        <div class="slider">
            <div class="categories">
                <div class="selected-items-container" id="selectedItemsContainer" style="display: none;">
                    <h2>Selected Ingredients</h2>
                    <div class="selected-items" id="selectedItems"></div>
                </div>
                <div class="category" id="pantryEssentials">
                    <h2>Pantry Essentials</h2>
                    <div class="category-items"></div>
                </div>
                <div class="category" id="spices">
                    <h2>Spices</h2>
                    <div class="category-items"></div>
                </div>
                <div class="category" id="vegetablesGreens">
                    <h2>Vegetables & Greens</h2>
                    <div class="category-items"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>