{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to Chef AI{% endblock %}

{% block background_Style %}
<video autoplay loop muted plays-inline class="back-video">
    <source src="{% static 'chef_ai/videos/backgroundvid.mp4' %}" type="video/mp4">
</video>
{% endblock %}



{% block content %}
<div class="landing-page-container">
    <div class="content-container">
        <h1 class="landingh1">No Plan? No Problem. Just Ask ChefAI</h1>
        <p class="landingP">Discover recipes tailored to your ingredients, scan what’s in your kitchen, and cook with AI-powered precision. ChefAI turns your everyday meals into culinary magic—no guesswork, just greatness.</p>
        <a href="{% url 'index' %}" id="letsCook" class="btn btn-primary" style="text-decoration: none;">Let's Cook...</a>
    </div>
</div>
{% endblock %}