.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    max-height: 7.5rem;
    width: 100vw;
    /* background-color: rgba(245, 245, 245, 0.226);
    backdrop-filter: blur(100px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .header .navBar {
   
      text-align: right;
  }
  .header .chefAI img{
    margin-left:3rem;
    max-width: 10rem;
    max-height: 7.5rem;
    transition: transform 0.2s ease-in-out;
  }
  .header .chefAI img:hover{
    transform: scale(1.2);
  }


/* handles styling for login button */
.header .navbar .loginButton {
    display: inline-block;
    padding: 1rem 2rem;
    margin-right:2rem;
    background: linear-gradient(90deg, #B4021E, #FFB949);
    color: white;  /* red from logo */
    text-align: center;
    text-decoration: none; /* Remove underline */
    border-radius: 2rem;
    font-weight: bold;
    box-shadow: 0 .3rem .4rem #B4021E;
    text-shadow: 2px 2px 4px black;
}
.header .navbar .loginButton:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 25px rgba(255, 58, 130, 0.4);
}
/* End of styling for login button */

/* Makes the profile picture centered above the username */
.header .navbar .userContainer {
    display:flex;
    flex-direction: column;
    max-height:7.5rem;
    align-items: center;
    transition: transform 0.2s ease-in-out;
    margin-right: 3rem;
}
/* if username is too long it turns into an ellipsis */
.header .navbar .userContainer p {
    color:#FFB949;
    text-shadow: 2px 2px 4px black;
    padding:.5rem 1rem;  
    font-weight: bold;
    text-align: center;
    max-width: 10rem;
    word-wrap: none;
    text-overflow: ellipsis;
    overflow: hidden;

}
.header .navbar .userContainer .userLogo {
    max-width:5rem;
    max-height:5rem;
    border-radius:50%;
    object-fit: cover;
  } 
.header .navbar .userContainer:hover {
    transform:scale(1.2);
    cursor: pointer;
}
/* End of making profile picture centered above username */

   /* Dropdown container holds the logo and name in header*/
.header .navbar .dropdown {
    position: relative;
    display: inline-block; 
}

/* Dropdown content (hidden by default) */
.header .navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0rem .5em 1rem rgba(0, 0, 0, 0.2);
    z-index: 101;
    right:0;
    margin-top:1rem;
    border-radius:2rem;
    padding:.5rem;
}

/* Links inside the dropdown */
.header .navbar .dropdown-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
    
}

.header .navbar .dropdown-content li {
    padding:.1rem;
    text-align: center;
    text-decoration: none;
    display: block;
    color: black;
    margin: 0;
    
}
.header .navbar .dropdown-content a {
    padding: .7rem .7rem;
    text-decoration: none;
    display: block;
    color: black;
    border-radius: 2rem;
}


.header .navbar .dropdown-content a:hover {
    background-color: #ddd;
}

/* When the dropdown is active, display the menu */
.header .navbar .dropdown.active .dropdown-content {
    display: block;
}
