.slider {
    display: flex;
    align-items: stretch; /* Stretch to match the height of the tallest item */
    overflow-x: auto;
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 1rem;
    scroll-behavior: smooth;
}

.slider::-webkit-scrollbar {
    height: 0.5rem;
}

.slider::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
}

.slider::-webkit-scrollbar-thumb {
    background: #ffcc00;
    border-radius: 1rem;
}

.slider .categories {
    display: flex;
    gap: 1.5rem; /* Adjust gap between categories */
}

.categories {
    display: flex;
    gap: 1.5rem;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Ensures the selected-items-container will stretch to match other elements */
.selected-items-container {
    display: flex;
    overflow-x: auto;
    gap: 1rem; 
    max-height: 25rem; 
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
    flex-wrap: nowrap; 
    height: 100%;
    align-items: stretch; 
    box-sizing: border-box;
    scrollbar-gutter: stable;
}

.selected-items-container .selected-item {
    height: 100%;
}

.selected-items-container::-webkit-scrollbar {
    width: 0.5rem;
}

.selected-items-container::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.selected-items-container::-webkit-scrollbar-thumb {
    background: #ffcc00;
    border-radius: 10px;
}

/* Styling for the category containers */
.slider .categories .category {
    border-radius: 1rem;
    height: 100%;
    min-width: 15rem;
    margin: 0.5rem;
    padding: 1rem 2rem 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.slider .categories h2 {
    color: #FFB949;
    text-align: center;
    text-shadow: 2px 2px 4px black;
    padding-bottom: 0.5rem;
}

/* Individual items in category */
.slider .category .category-item {
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.25rem;
    text-align: center;
    background: linear-gradient(90deg, #B4021E, #FFB949);
    box-shadow: 0px 2px 4px #B4021E;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    max-width: 12rem;
}

.slider .category .category-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 25px rgba(255, 58, 130, 0.4);
    cursor: pointer;
}

.slider .category .category-item.selected {
    background: linear-gradient(90deg,  #FFB949,#B4021E );
    cursor: pointer;
}

.slider .category .category-item label {
    padding: 0.5rem;
    width: 100%;
}

.slider .category .category-item label:hover {
    cursor: pointer;
}

.slider .category .category-item input[type=checkbox] {
    display: none;
}

/* Selected items container for selected ingredients */
.slider .selected-items-container .selected-item {
    display: flex;
    flex-direction: center;
    justify-content: space-evenly;
    min-width: 10rem;
    align-items: center;
    border-radius: 1rem;
    background: linear-gradient(90deg, #B4021E, #FFB949);
    box-shadow: 0px 2px 4px #B4021E;
    gap: .25rem;
    margin: .5rem;
    padding: 0 1rem;
    text-overflow: ellipsis;
    max-width:16rem;
    min-width: 16rem;
    overflow: hidden;
}

.slider .selected-items-container .selected-item:hover{
    
    box-shadow: 0 0.375rem 1.5625rem rgba(255, 58, 130, 0.4);
}

.slider .selected-items .selected-item .ingredient-name {
    text-shadow: 0.125rem 0.125rem 0.25rem black;
    color: white;
    font-weight: bold;
    padding: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;
    
}

.slider .selected-items .selected-item .quantity-container input {
    /* max-width: 3rem; */
    flex-shrink: 0;
    width: 6rem;
    border-radius: .5rem;
    background-color: rgb(248, 246, 246);
    padding:.2rem;
}

.slider .selected-items .selected-item .quantity-container input::placeholder{
    color:rgba(128, 128, 128, 0.658);
    font-size: 1rem;
}

.slider .selected-items .selected-item .quantity-container:focus {
    border: 1px solid white;
}

.slider .selected-items .selected-item .remove-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #B4021E;
    margin: .2rem;
    transition: transform 0.2s ease-in-out;
    flex-shrink: 0;
}

.slider .selected-items .selected-item .remove-btn:hover {
    transform: translateY(-0.125rem);
    box-shadow: 0 0.375rem 1.5625rem rgba(255, 58, 130, 0.4);
}
.regular-button{
    background: linear-gradient(90deg, #B4021E, #FFB949);
    color: white;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    white-space: nowrap;
    box-shadow: 0px 2px 4px #B4021E;
    text-shadow: 2px 2px 4px black;
}
.regular-button:hover{
    transform: translateY(-0.125rem);
    box-shadow: 0 0.375rem 1.5625rem rgba(255, 58, 130, 0.4);
}

/* Turns into a single row on desktop */
@media (min-width: 768px) {
    .slider {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        margin-top: 2rem;
    }

    .slider .category {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .slider .selected-items-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .slider {
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        white-space: normal;
        max-height: 80%;
    }

    .slider::-webkit-scrollbar {
        width: 0.5rem; /* For vertical scrollbar on mobile */
    }

    .slider .categories {
        flex-direction: column;
        width: 100%;
    }

    .categories {
        flex-direction: column;
        width: 100%;
    }

    .selected-items-container {
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
    }

    .slider .categories .category {
        min-width: 0;
        width: 100%;
        max-height: none;
    }

    .slider .category .category-item {
        width: calc(100% - 1rem);
    }

    .slider .selected-items-container .selected-item {
        width: calc(100% - 1rem);
        min-width: 0;
    }
}
